PORT=3003
CASSANDRA_CONTACT_POINTS=localhost
CASSANDRA_LOCAL_DATA_CENTER=datacenter1
CASSANDRA_KEYSPACE=garagem_sessoes

CLIENTES_SERVICE_URL=http://localhost:3001
GARAGENS_SERVICE_URL=http://localhost:3002
